<div class="container">
  <h1>Управление заказами</h1>

  <div class="forms-wrapper">
    <form (ngSubmit)="onSubmit()" class="order-form">
      <input type="number" [(ngModel)]="currentOrder.carId" name="carId" placeholder="ID автомобиля" required />
      <input type="number" [(ngModel)]="currentOrder.serviceId" name="serviceId" placeholder="ID услуги" required />
      <input type="date" [(ngModel)]="currentOrder.orderDate" name="orderDate" placeholder="Дата заказа" required />
      <input type="date" [(ngModel)]="currentOrder.completionDate" name="completionDate" placeholder="Дата выполнения" required />
      <input type="text" [(ngModel)]="currentOrder.status" name="status" placeholder="Статус" required />
      <input type="number" [(ngModel)]="currentOrder.totalCost" name="totalCost" placeholder="Общая стоимость" required />

      <button type="submit">{{ isEditing ? 'Обновить' : 'Добавить' }}</button>
      <button type="button" (click)="cancelEdit()" *ngIf="isEditing">Отмена</button>
    </form>

    <div class="search-form">
      <label>Дата заказа:
        <input type="date" [(ngModel)]="searchCriteria.orderDate">
      </label>
      <label>Дата выполнения:
        <input type="date" [(ngModel)]="searchCriteria.completionDate">
      </label>
      <label>Статус:
        <input type="text" [(ngModel)]="searchCriteria.status" placeholder="Статус">
      </label>
      <label>Номер заказа:
        <input type="number" [(ngModel)]="searchCriteria.orderId" name="searchOrderId" />
      </label>

      <button (click)="searchOrders()">Поиск</button>
      <button (click)="resetSearch()">Сброс</button>
    </div>
  </div>


<div *ngFor="let order of orders" class="order-card">
    <h2>Заказ №{{ order.id }}</h2>
    <p><strong>ID машины:</strong> {{ order.carId }}</p>
    <p><strong>ID услуги:</strong> {{ order.serviceId }}</p>
    <p><strong>Дата заказа:</strong> {{ order.orderDate }}</p>
    <p><strong>Дата выполнения:</strong> {{ order.completionDate }}</p>
    <p><strong>Статус:</strong> {{ order.status }}</p>
    <p><strong>Общая стоимость:</strong> {{ order.totalCost }} руб.</p>
    <button (click)="editOrder(order)">Редактировать</button>
    <button (click)="deleteOrder(order.id)">Удалить</button>
  </div>

  <div *ngIf="message" [ngClass]="{'toast-message': true, 'success': !isError, 'error': isError}">
    {{ message }}
  </div>
</div>
